# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows thumbnail cache
Thumbs.db

# Node dependencies
node_modules/

# Build folders
dist/
build/
docs/GEMFILE.lock
docs/GEMFILE
docs/_site/
docs/.jekyll_cache
